<div>
 
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th>ROLE</th>
        <th>ACTION</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user._id}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.role}}</td>
        
        <!-- <td><button *ngIf="user.role === 1" class="btn btn-success" (click)="onUpdateRole(user.role, 0)">Admin</button>
          <button *ngIf="user.role === 0" class="btn btn-dark" (click)="onUpdateRole(user.role, 1)" >User</button>
        </td> -->
        <!-- <td><button class="btn btn-info"><a routerLink="/admin/products/{{product._id}}">DETAIL</a></button>
          <button class="btn btn-success"><a routerLink="/admin/products/edit/{{product._id}}">EDIT</a></button>
          <button class="btn btn-danger" (click)="onDelete(product._id)">DELETE</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
