<div>
  <div class="pb-4">
    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/zalo-osc-t6-840.jpg" width="100%">
  </div>
  <div>
     <div class="bg-amber-400 py-3"></div>
     <div class="py-2"></div>
     <!-- Category -->
     <div class="border-2 rounded-lg border-gray-200">
       <h3>Danh mục sản phẩm</h3>
       <div class="grid grid-cols-10 gap-2">
         <div class="col-span-1">
           <div class="img">
             <img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/van-hoc.png" width="240px">
           </div>
           <div class="content">
             <p class="hover:text-red-500 text-center">Văn học</p>
           </div>
         </div>
       
       
        <div class="col-span-1">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/thieu-nhi.png" width="240px">
          </div>
          <div class="content">
            <p class="hover:text-red-500 text-center">Văn học</p>
          </div>
        </div>
     
        <div class="col-span-1">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/tam-ly-ky-nang.png" width="240px">
          </div>
          <div class="content">
            <p class="hover:text-red-500 text-center">Văn học</p>
          </div>
        </div>
      
        <div class="col-span-1">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/kinh-te.png" width="240px">
          </div>
          <div class="content">
            <p class="hover:text-red-500 text-center">Văn học</p>
          </div>
        </div>
      
        <div class="col-span-1">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/sach-giao-khoa.png" width="240px">
          </div>
          <div class="content">
            <p class="hover:text-red-500 text-center">Văn học</p>
          </div>
        </div>
      
        <div class="col-span-1">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/category/foreign-books.png" width="240px">
          </div>
          <div class="content">
            <p class="hover:text-red-500 text-center">Văn học</p>
          </div>
        </div>
     
        <div class="col-span-1">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/catalog/product/n/x/nxbtre_full_18452022_034543.jpg" width="240px">
          </div>
          <div class="content">
            <p class="hover:text-red-500 text-center">Văn học</p>
          </div>
        </div>
      
        <div class="col-span-1">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/catalog/product/b/i/bia1_tobinhyen_2_1_1.jpg" width="240px">
          </div>
          <div class="content">
            <p class="hover:text-red-500 text-center">Văn học</p>
          </div>
        </div>
      
        <div class="col-span-1">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/catalog/product/b/i/biamem.jpg" width="240px">
          </div>
          <div class="content">
            <p class="hover:text-red-500 text-center">Văn học</p>
          </div>
        </div>
      
      
        <div class="col-span-1">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_217480.jpg" width="240px">
          </div>
          <div class="content">
            <p class="hover:text-red-500 text-center">Văn học</p>
          </div>
        </div>
      
     </div>
     </div>
     <!-- product -->
     <div class=" pb-4">
      <div class="grid grid-cols-10 gap-4 pt-2 pb-8">
        <div class=" col-span-2">
          <div class="img">
            <img src="https://cdn0.fahasa.com/media/catalog/product//i/m/image_180164_1_43_1_57_1_4_1_2_1_163.jpg" width="300px">
          </div>
          <div class="content">
            <h3>SÁCH THAM KHẢO</h3>
            <p>15.000 đ</p>
            <p>20.000đ</p>
            <button class="border-2 border-red-500 text-red-500 hover:bg-red-500 hover:text-white py-1 px-2 rounded-lg w-64">Mua hàng</button>
          </div>
        </div>
        <div class=" col-span-2">
         <div class="img">
           <img src="https://cdn0.fahasa.com/media/catalog/product//i/m/image_180164_1_43_1_57_1_4_1_2_1_163.jpg" width="300px">
         </div>
         <div class="content">
           <h3>SÁCH THAM KHẢO</h3>
           <p>15.000 đ</p>
           <p>20.000đ</p>
           <button class="border-2 border-red-500 text-red-500 hover:bg-red-500 hover:text-white py-1 px-2 rounded-lg w-64">Mua hàng</button>
         </div>
       </div>
       <div class=" col-span-2">
         <div class="img">
           <img src="https://cdn0.fahasa.com/media/catalog/product//i/m/image_180164_1_43_1_57_1_4_1_2_1_163.jpg" width="300px">
         </div>
         <div class="content">
           <h3>SÁCH THAM KHẢO</h3>
           <p>15.000 đ</p>
           <p>20.000đ</p>
           <button class="border-2 border-red-500 text-red-500 hover:bg-red-500 hover:text-white py-1 px-2 rounded-lg w-64">Mua hàng</button>
         </div>
       </div>
       <div class=" col-span-2">
         <div class="img">
           <img src="https://cdn0.fahasa.com/media/catalog/product//i/m/image_180164_1_43_1_57_1_4_1_2_1_163.jpg" width="300px">
         </div>
         <div class="content">
           <h3>SÁCH THAM KHẢO</h3>
           <p>15.000 đ</p>
           <p>20.000đ</p>
           <button class="border-2 border-red-500 text-red-500 hover:bg-red-500 hover:text-white py-1 px-2 rounded-lg w-64">Mua hàng</button>
         </div>
       </div>
       <div class=" col-span-2">
         <div class="img">
           <img src="https://cdn0.fahasa.com/media/catalog/product//i/m/image_180164_1_43_1_57_1_4_1_2_1_163.jpg" width="300px">
         </div>
         <div class="content">
           <h3>SÁCH THAM KHẢO</h3>
           <p>15.000 đ</p>
           <p>20.000đ</p>
           <button class="border-2 border-red-500 text-red-500 hover:bg-red-500 hover:text-white py-1 px-2 rounded-lg w-64">Mua hàng</button>
         </div>
       </div>
      </div>
<div class="text-center"><button class="border-2 border-red-500 bg-red-500 text-white py-1 px-2 rounded-lg w-96">Xem thêm</button></div>
      
     </div>


     <div class="grid grid-cols-4 gap-2">
       <div class="col-span-1">
         <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2022/062022bigsale-deal_310x210.jpg" width="350px">
       </div>
       <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2022/062022bigsale-coupon_310X210.jpg" width="350px">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/Thieu_nhi/thang5/quoctethieunhi_1.1_310x210.jpg" width="350px">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2022/0622bigsale-freeship_310.jpg" width="350px">
      </div>
     </div>

     <div class="py-2"></div>
     <div class="grid grid-cols-12 gap-2">
       <div class="col-span-1">
         <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/logo-nxb/logo-home-page/cengage.jpg">
       </div>
       <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/logo-nxb/logo-home-page/Harper-Collins.jpg">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/logo-nxb/logo-home-page/Harper-Collins.jpg">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/logo-nxb/logo-home-page/macgrawhill.jpg">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/logo-nxb/logo-home-page/macmilan.jpg">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-03-2022/oxford-02.jpg">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/logo-nxb/logo-home-page/PearsonLogo_Avatar.png">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/logo-nxb/logo-home-page/Harper-Collins.jpg">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/logo-nxb/logo-home-page/sterling.jpg">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/logo-nxb/logo-home-page/usborn.jpg">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/NXB/Scholastic-bar-logo.png">
      </div>
      <div class="col-span-1">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-03-2022/savvas_logo_bqv2-01.png">
      </div>
     </div>




     
  </div>
</div>
